.parent {
  background-color: white;
  min-height: 100%;
  width: 100%;
  height: 500px;
}

.child {
  clip-path: polygon(
    100% 0,
    100% 80%,
    50% 100%,
    0 80%,
    0 0
  ); /*top,right,,left*/
  -webkit-clip-path: polygon(
    100% 0,
    100% 80%,
    50% 100%,
    0 80%,
    0 0
  ); /*top,right,,left*/

  background: rgb(44, 186, 204);
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.presentation-content {
  text-transform: capitalize;
  background-color: rgb(44, 186, 204);
  width: 80%;
  text-align: center;
  /* margin: 0 auto 80px; */
  padding-bottom: 6em;
}

.roger {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 96px / normal "merriweather", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);

  margin-block-end: 1em;
  line-height: 1.1;
  margin: 0px 0px;
}

.presentation-content::after {
  background: white;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 250px;
  width: 140px;
  height: 2px;
  margin-left: -70px;
}

.p1 {
  /* display: block; */
  margin-top: 12px;
  /* margin-block-end: 1em; */
  /* margin: 0 0 12px; */
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 48em) {
  .roger {
    font-size: 50px;
    /* margin-block-start: 2em; */
  }
}
